html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Font */
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/* Titolo Neon */
.titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: neon;
    font-size: 9vw;
    line-height: 9vw;
    animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -ms-animation: neon 1s ease infinite;
    -o-animation: neon 1s ease infinite;
}

/* Titolo Neon con hover */
.titolo:hover {
    animation: neon-hover 1s ease infinite;
    -webkit-animation: neon-hover 1s ease infinite;
    -moz-animation: neon-hover 1s ease infinite;
    -ms-animation: neon-hover 1s ease infinite;
    -o-animation: neon-hover 1s ease infinite;
}

/* Freccia 1 */
.hint1 {
    display: absolute;
    text-align: center;
    position: absolute;
    top: 350px;
    width: 100%;
    font-size: 100px;
    color: #f003c6;
    animation: hint1-anim 15s infinite;
    -webkit-animation: hint1-anim 15s infinite;
    -moz-animation: hint1-anim 15s infinite;
    -ms-animation: hint1-anim 15s infinite;
    -o-animation: hint1-anim 15s infinite;
}

/* Freccia 2 */
.hint2 {
    display: absolute;
    text-align: center;
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 100px;
    color: #fd2ea3;
    animation: hint2-anim 15s infinite;
    -webkit-animation: hint2-anim 15s infinite;
    -moz-animation: hint2-anim 15s infinite;
    -ms-animation: hint2-anim 15s infinite;
    -o-animation: hint2-anim 15s infinite;
}

/* Freccia 3 */
.hint3 {
    display: absolute;
    text-align: center;
    position: absolute;
    top: 450px;
    width: 100%;
    font-size: 100px;
    color: #05eeff;
    animation: hint3-anim 15s infinite;
    -webkit-animation: hint3-anim 15s infinite;
    -moz-animation: hint3-anim 15s infinite;
    -ms-animation: hint3-anim 15s infinite;
    -o-animation: hint3-anim 15s infinite;
}

/* Animazione freccia 1 */
@keyframes hint1-anim {
    0% {color: #03c6e3}
    10% {color: #f003c6;}
    20% {color: #03c6e3;}
    30% {color: #05eeff;}
    40% {color: #fd2ea3;}
    50% {color: #f003c6;}
    60% {color: #fd2ea3;}
    70% {color: #f003c6;}
    80% {color: #05eeff;}
    90% {color: #fd2ea3;}
    100% {color: #fd2ea3;}
}

/* Animazione freccia 2 */
@keyframes hint2-anim {
    0% {color: #03c6e3;}
    10% {color: #03c6e3;}
    20% {color: #fd2ea3;}
    30% {color: #05eeff;}
    40% {color: #fd2ea3;}
    50% {color: #f003c6;}
    60% {color: #03c6e3;}
    70% {color: #fd2ea3;}
    80% {color: #f003c6;}
    90% {color: #05eeff;}
    100% {color: #fd2ea3;}
}

/* Animazione freccia 3 */
@keyframes hint3-anim {
    0% {color: #03c6e3}
    10% {color: #f003c6;}
    20% {color: #fd2ea3;}
    30% {color: #05eeff;}
    40% {color: #fd2ea3;}
    50% {color: #f003c6;;}
    60% {color: #05eeff;}
    70% {color: #fd2ea3;}
    80% {color: #05eeff;}
    90% {color: #fd2ea3;}
    100% {color: #fd2ea3;}
}

/* Animazione titolo neon di base */
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #05eeff, 0 0 3vw #05eeff, 0 0 10vw #05eeff, 0 0 10vw #05eeff, 0 0 .4vw #03c6e3, .5vw .5vw .1vw #03c6e3;
    color: #f003c6;
  }
  50% {
    text-shadow: 0 0 .5vw #03c6e3, 0 0 1.5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 .2vw #03c6e3, .5vw .5vw .1vw #05eeff;
    color: #fd2ea3;
  }
}

/* Animazione titolo neon con hover di base */
@keyframes neon-hover {
    25%,
    50% {
        text-shadow: 0 0 .5vw #fd2ea3, 0 0 1.5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 .2vw #fd2ea3, .5vw .5vw .1vw #f003c6;
        color: #03c6e3;
      }
    75%,
    100% {
      text-shadow: 0 0 1vw #f003c6, 0 0 3vw #f003c6, 0 0 10vw #f003c6, 0 0 10vw #f003c6, 0 0 .4vw #fd2ea3, .5vw .5vw .1vw #fd2ea3;
      color: #05eeff;
    }
}

/* Animazione titolo neon per firefox */
@-moz-keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #05eeff, 0 0 3vw #05eeff, 0 0 10vw #05eeff, 0 0 10vw #05eeff, 0 0 .4vw #03c6e3, .5vw .5vw .1vw #03c6e3;
      color: #f003c6;
    }
    50% {
      text-shadow: 0 0 .5vw #03c6e3, 0 0 1.5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 .2vw #03c6e3, .5vw .5vw .1vw #05eeff;
      color: #fd2ea3;
    }
}
  
  /* Animazione titolo neon con hover per Firefox */
@-moz-keyframes neon-hover {
      25%,
      50% {
          text-shadow: 0 0 .5vw #fd2ea3, 0 0 1.5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 .2vw #fd2ea3, .5vw .5vw .1vw #f003c6;
          color: #03c6e3;
        }
      75%,
      100% {
        text-shadow: 0 0 1vw #f003c6, 0 0 3vw #f003c6, 0 0 10vw #f003c6, 0 0 10vw #f003c6, 0 0 .4vw #fd2ea3, .5vw .5vw .1vw #fd2ea3;
        color: #05eeff;
    }
}

/* Animazione titolo neon per Safari, Chrome e Opera > 12.1 */
@-webkit-keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #05eeff, 0 0 3vw #05eeff, 0 0 10vw #05eeff, 0 0 10vw #05eeff, 0 0 .4vw #03c6e3, .5vw .5vw .1vw #03c6e3;
      color: #f003c6;
    }
    50% {
      text-shadow: 0 0 .5vw #03c6e3, 0 0 1.5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 .2vw #03c6e3, .5vw .5vw .1vw #05eeff;
      color: #fd2ea3;
    }
}
  
/* Animazione titolo neon con hover per Safari, Chrome e Opera > 12.1 */
@-webkit-keyframes neon-hover {
      25%,
      50% {
          text-shadow: 0 0 .5vw #fd2ea3, 0 0 1.5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 .2vw #fd2ea3, .5vw .5vw .1vw #f003c6;
          color: #03c6e3;
        }
      75%,
      100% {
        text-shadow: 0 0 1vw #f003c6, 0 0 3vw #f003c6, 0 0 10vw #f003c6, 0 0 10vw #f003c6, 0 0 .4vw #fd2ea3, .5vw .5vw .1vw #fd2ea3;
        color: #05eeff;
    }
}

/* Animazione titolo neon per Explorer */
@-ms-keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #05eeff, 0 0 3vw #05eeff, 0 0 10vw #05eeff, 0 0 10vw #05eeff, 0 0 .4vw #03c6e3, .5vw .5vw .1vw #03c6e3;
      color: #f003c6;
    }
    50% {
      text-shadow: 0 0 .5vw #03c6e3, 0 0 1.5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 .2vw #03c6e3, .5vw .5vw .1vw #05eeff;
      color: #fd2ea3;
    }
}
  
/* Animazione titolo neon con hover per Explorer */
@-ms-keyframes neon-hover {
      25%,
      50% {
          text-shadow: 0 0 .5vw #fd2ea3, 0 0 1.5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 .2vw #fd2ea3, .5vw .5vw .1vw #f003c6;
          color: #03c6e3;
        }
      75%,
      100% {
        text-shadow: 0 0 1vw #f003c6, 0 0 3vw #f003c6, 0 0 10vw #f003c6, 0 0 10vw #f003c6, 0 0 .4vw #fd2ea3, .5vw .5vw .1vw #fd2ea3;
        color: #05eeff;
    }
}

/* Animazione titolo neon con hover per Opera < 12.1 */
@-o-keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #05eeff, 0 0 3vw #05eeff, 0 0 10vw #05eeff, 0 0 10vw #05eeff, 0 0 .4vw #03c6e3, .5vw .5vw .1vw #03c6e3;
      color: #f003c6;
    }
    50% {
      text-shadow: 0 0 .5vw #03c6e3, 0 0 1.5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 5vw #03c6e3, 0 0 .2vw #03c6e3, .5vw .5vw .1vw #05eeff;
      color: #fd2ea3;
    }
}
  
/* Animazione titolo neon con hover per Opera < 12.1 */
@-o-keyframes neon-hover {
      25%,
      50% {
          text-shadow: 0 0 .5vw #fd2ea3, 0 0 1.5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 5vw #fd2ea3, 0 0 .2vw #fd2ea3, .5vw .5vw .1vw #f003c6;
          color: #03c6e3;
        }
      75%,
      100% {
        text-shadow: 0 0 1vw #f003c6, 0 0 3vw #f003c6, 0 0 10vw #f003c6, 0 0 10vw #f003c6, 0 0 .4vw #fd2ea3, .5vw .5vw .1vw #fd2ea3;
        color: #05eeff;
    }
}

/* Sfondo */
.sfondo {
    position: relative;
    background-image: url("immagini/sfondo_3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
}

/* Audio */
.sound-container {
    display: absolute;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    filter: blur(10000px);
    -webkit-filter: blur(10000px);
    -moz-filter: blur(10000px);
    -ms-filter: blur(10000px);
    -o-filter: blur(10000px);
}

/* Audio con hover */
.sound-container:hover {
    display: absolute;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -ms-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

/* Animazione fade-in base */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Animazione fade-in per Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Animazione fade-in per Safari, Chrome e Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Animazione fade-in per Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Animazione fade-in per Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}